h1 {
    text-align: center;
}

em {
    color: darkred;
    font-weight: bold;
}

.note {
    background-color: black;
    color: white;
    width: 900px;
}

.note.second {
    width: 375px;
}

body {
    background-color: rgb(220, 237, 220);
}