h1 {
    text-align: center;
}


em {
    color: darkred;
    font-weight: bold;
}

#red {
    color: red;
}

#green {
    color: green;
}

body {
    background-color: rgb(211, 223, 223);
}

img {
    height: 125px;
    width: 500px;

}

div {
    text-align: center;
}

div.link {
    color: white;
    background-color: black;
}