body {
    background-color: black;
    color: white;
    display:grid;
    grid-template-columns: 300px 1fr;
    height: 100vh;
    width: 100%;
    margin: 0px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 30px 0px rgb(117, 128, 4);
    height: 100%;
    background-color: rgb(42, 42, 42);
}

.profile {
    display:flex;
    height:10%;
    margin: 0px;
}

.img {
    height: 100%;
    width: 35%;
}

.profile-picture {
    height: 4rem;
    width: 4.5rem;
    border-radius: 35%;
    padding: 10px;
}



.info {
    height: 100%;
    width:65%;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: column; 
    color: rgba(252, 252, 0, 0.892)
}

.name {
    display: flex;
    align-items: end;
    height: 60%;
    width: 100%;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 650;
}

.handle {
    height: 40%;
    width: 100%;
    font-size: 16px;
    padding-left: 8px;
    color: lightgray;
}



.projects-pane {
    height: 92%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.add-project-button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    height: 7%;
}

.add-project-button {
    margin-top: 1rem;
    height: 2.7rem;
    width: 14rem;
    border-radius: 60px;
    font-size: 1rem;
    letter-spacing: 0.6px;
    font-weight: bold;
    background-color: rgba(252, 252, 0, 0.874);
    border: 2px rgb(0, 0, 0) solid;
    box-shadow: 3px 3px 10px 2px rgb(0, 0, 0);
    color: black;
}


.submit-button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.add-project-form-title {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid white;
    margin-bottom: 1rem;
}

input {
    display:block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.projects {
    height: 85%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.project-button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 2rem 0 0 0;
    word-break: break-all;
    padding: 10px;
    width: 90%;
    height: 2rem;
    color: black;
    border-radius: 8px;     
    font-size: 20px;
    text-wrap: wrap;
    font-weight: bold;
    letter-spacing: 0.6px;
    background-color: rgba(252, 252, 0, 0.874);
    border: 2px rgb(0, 0, 0) solid; 
}
.main {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px;
}

.todos-pane {
    height: 88%;
    width: 95%;
    margin-left: 3rem;

}

.project-title {
    width: 1220px;
    word-break: break-all;
    text-wrap: wrap;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    color: rgb(254, 254, 1)

}

.delete-project {
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 3.4px rgba(252, 252, 0, 0.874) solid;
    box-shadow: 2px 3px 10px 2px rgba(203, 203, 7, 0.595);
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    letter-spacing: 0.8px;
}

.delete-project:hover {
    background-color: rgba(153, 153, 17, 0.817);
}

.todo-heading {
    font-size: 1.8rem;
    font-weight: bold;
    width: 90%;
    margin-top: 5rem;
    margin-left: 0.2rem;
    border-bottom: 3px solid rgba(252, 252, 0, 0.874);
    padding: 0px 0px 6px 0px;
}

.todo-list {
    padding: 10px;
    width: 90%;
    margin: 0px;
}

.todo { 
    display: grid;
    grid-template-columns: 20px  1fr 150px;
    grid-template-rows: 25px 30px;
    padding: 20px;
    align-items: center;
}


.todo-name-info {
    margin-bottom: 3px;
    margin-top : 2px;
    padding-left: 5px;
    font-size: 20px;
    color: white
}

.todo-due-date-info {
    padding-left:24px;
    margin-top: 0px;
    font-size: 16px;
    grid-column-end: -2;
    margin-bottom: 1rem;
    color: rgb(254, 254, 1)
}

.delete-todo-button:hover {
    background-color: rgba(153, 153, 17, 0.817);
}
.delete-todo-button {
    height: 80%;
    width: 90%;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.8px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    justify-self: end;
    align-self: flex-start;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 3.4px rgba(252, 252, 0, 0.874) solid;
    box-shadow: 2px 3px 10px 2px rgba(203, 203, 7, 0.595);
    text-decoration: none;
}


.complete {
    text-decoration: 5px line-through yellow;
}

.add-todo-button {
    height: 4rem;
    width: 10rem;
    position: absolute;
    bottom: 2rem;
    right: 9rem;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: rgba(252, 252, 0, 0.874);
    border: 3px rgb(42, 42, 42) solid;    
    box-shadow: 2px 1px 11px 2px rgb(71, 71, 71);     
}


.add-todo-button:active {
    background-color: rgba(122, 122, 1, 0.594);
    color: white
}


.add-todo-form-title {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid black;
    margin-bottom: 1rem;
}