body {
    background-color: lightgray;
    display:grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    width: 100%;
    margin: 0px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.profile {
    display:flex;
    height: 8%;
    margin: 0px;
}

.img {
    height: 100%;
    width: 35%;
}


.info {
    height: 100%;
    width:65%;
    display: flex;
    flex-direction: column; 
}

.name {
    height: 60%;
    width: 100%;
}

.handle {
    height: 40%;
    width: 100%;
}



.projects-pane {
    height: 92%;
    border: 2px yellow solid;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.add-project-button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
}

.add-project-button {
    margin-top: 1rem;
    height: 3rem;
    width: 15rem;
    border-radius: 60px;
    font-size: 1rem;
    font-weight: bold;
}


.submit-button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.add-project-form-title {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid black;
    margin-bottom: 1rem;
}

input {
    display:block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.projects {
    height: 85%;
    border: 2px green solid;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.project-button {
    margin-top : 2rem;
    width: 100%;
    border: 2px black solid;
}
.main {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px;
}

.todo\s-pane {
    height: 88%;
    width: 95%;
    margin-left: 3rem;

}

.project-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 3rem;
}

.todo-heading {
    font-size: 1.8rem;
    font-weight: bold;
    width: 90%;
    margin-top: 5rem;
    margin-left: 0.2rem;
    border-bottom: 3px solid black;
}

.todo-list {
    padding: 10px;
    width: 100%;
    margin: 0px;
}

.todo { 
    display: grid;
    grid-template-columns: 20px  1fr ;
    grid-template-rows: 20px 30px;
    align-items: center;
}


.todo-name-info {
    margin-bottom: 3px;
    margin-top : 2px;
}

.todo-due-date-info {
    padding-left:20px;
    font-size: 14px;
    grid-column-end: -1;
    margin-bottom: 1rem;
}

.add-todo-button {
    height: 4rem;
    width: 10rem;
    position: absolute;
    bottom: 2rem;
    right: 7rem;
    border-radius: 15px;
}


.add-todo-form-title {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid black;
    margin-bottom: 1rem;
}