@font-face {
    font-family: 'norsebold';
    src: url('./fonts/norse-bold-webfont.woff2') format('woff2'),
         url('./fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root {
    margin: 0px;
    padding: 0px;

}

body{
    display: flex;
    flex: auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgba(233, 233, 233, 0.431);
}

.left-pane-photo {
    width: 100%;
    height: 100%;   
}

.image-logo {
    height: 80%;
    width: 13%;
}

.left-pane {
    position: relative;
    width:60%;
}

.credits {
    width: 100%;
    color: white;
    position: absolute;
    bottom:10px;
    display: flex;
    justify-content:center;
    
}

a {
    color: white;
    margin: 0 3px 0 3px;
}

.logo {
    font-family: 'norsebold';   
    font-size: 80px;

    width: 100%;
    height: 15%;
    color: white;
    background-color: darkblue;

    position: absolute;
    top: 13rem;


    display: flex;
    justify-content: center;
    align-items: center;
}

.right-pane {
    width: 80%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
}

span {
    color:#596D48;
    font-weight: bold;
}

fieldset {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 1rem;
    border: none;
}

.first-name, 
.last-name,
.email,
.phone-number,
.password-creation,
.confirm-password {
    display: flex;
    flex-direction:column;
}

.information {
    background-color: white;
    padding: 20px;
    box-shadow: 0 3px 3px rgb(184, 184, 184);
    height: 60%;
}

.submission {
    margin: 30px;
    width: 25%;
}

button {
    width:85%;
    font-size:14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding:12px;
    border: 1px solid gray;
    box-shadow: 1px 2px 2px rgba(177, 177, 177, 0.95);
    border-radius: 6px;
    margin-bottom:10px;
    font-weight:bold;
    color:white;
    background-color:#596D48
}

.account {
    font-size: 15px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.starting-text {
    font-size: 23px;
    line-height: 26px;
    font-weight: bold;
    margin-left: 3rem;    
    margin-bottom: 4rem;
}

.form-start-text {
    font-weight: bold;
    margin-left: 2rem;
    font-size: 23px;
    margin-top: 0;
    margin-bottom: 16px;

}


label {
    font-size: 10px;
    font-weight: bold;
    word-spacing: 3px;
    letter-spacing: 1px;
    margin-bottom: 1px;
}

input {
    width: 250px;
    height: 25px;
    background-color: rgba(227, 226, 226, 0.102);
    border: 1.4px solid #E5E7EB;
    border-radius: 4px;
}

input:focus {
    outline: none;  
    border: 1.5px solid rgba(0, 0, 255, 0.776);
    box-shadow: 1px 2px 4px rgba(0, 0, 255, 0.282);
}

.error {
    border: 1px solid red;
}

.password-match {
    margin:0px;
    color: red;
    font-size: 10px;
}

.correct {
    color: white;
}
