button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 155px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius:6px;
}

fieldset {
    position:relative;
}

legend {
    position:absolute;
    top:0;
    right:0;
    background-color: black;
    color: white;
    font-size:bolder;
}

input[type="checkbox"], input[type="radio"] {
  appearance: none;
}

input[type="checkbox"] {
  position: relative;
  width: 1em;
  height: 1em;
  border: 1px solid gray;
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: -2px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color: green;
}

input[type="checkbox"]::before {
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -0.3px;
  top: -0.3em;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  /* Use `visibility` instead of   `display` to avoid recalculating layout */
  visibility: visible;
}

input[type="checkbox"]:disabled {
  border-color: black;
  background: #ddd;
  color: gray;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: "▼";
  font-size: 1rem;
  top: 0px;
  right: 0px;
  position: absolute;
}

input[type="range"] {
  appearance: none;
  background: red;
  height: 8px;
  border-radius:6px;
  padding: 0;
  outline: 1px solid transparent;
}

input[type="file"] {
  height: 0;
  padding: 0;
  opacity: 0;
}

label[for="file"] {
  box-shadow: 1px 1px 3px #ccc;
  background: linear-gradient(to bottom, #eee, #ccc);
  border: 1px solid rgb(169, 169, 169);
  border-radius: 5px;
  text-align: center;
  line-height: 1.5;
}

label[for="file"]:hover {
  background: linear-gradient(to bottom, #fff, #ddd);
}

label[for="file"]:active {
  box-shadow: inset 1px 1px 3px #ccc;
}

input:required {
  border: 1px solid red;
  padding:2px;
}

input[type="radio"] + label::before {
  display: block;
  content: " ";
  width: 10px;
  height: 10px;
  margin:2px;
  border-radius: 6px;
  background-color: red;
  font-size: 1.2em;
  transform: translate(3px, 3px) scale(0);
  transform-origin: center;
  transition: all 0.3s ease-in;
}

input[type="radio"]:checked + label::before {
  transform: translate(3px, 3px) scale(1);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
}